/x64/Release
/webbackup.zip
/webbackup/web
/Debug
/Release
/__vm
/__vm/Upload.vmps.xml
/__vm/Configuration.Release.vmps.xml
/__vm/Configuration.Debug.vmps.xml
/__vm/Compile.vmps_ASUS-FREDO_nov.-13-144935-2016_Conflict.xml
/__vm/Compile.vmps_ASUS-FREDO_nov.-13-144926-2016_Conflict.xml
/__vm/Compile.vmps.xml
/LDuino.vcxproj.user
/LDuino.filters
/.vs/config/applicationhost.config
/ldmicro/ldmicro.tmp
/ldmicro/toto.ld
*.bak
*.org
/~AutoRecover.LDuino.vcxproj
/.vs/emcoturn_120_V01/v14/.suo
/.vs/LDuino/v14/.suo
/web/Thumbs.db
