body {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

img {
    border: none;
}

/*INPUT
{
}*/
input#datafile {
    border: 1px solid black;
    height: 22px;
    width: 360px;
    font-weight: normal;
    background-color: #DEECFE;
    margin: 8px;
    padding: 5px;
}

input[type=checkbox] {
    height: 16px !important;
    width: 16px !important;
}

textarea {
    border: 1px solid black;
    padding: 0;
}

* {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    font-family: arial;
}

a:link {
    color: #393939;
    text-decoration: none;
}

a:visited {
    color: #393939;
    text-decoration: none;
}

td .field {
    text-align: left;
}

a:hover {
    color: #393939;
    text-decoration: none;
}

a:active {
    color: #393939;
    text-decoration: none;
}

.LCD {
    background: #F4F9B8;
    font-family: Courier New;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    width: 30px;
    border: 1px solid black;
    /*+border-radius: 5px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
}

.LCD:active {
    filter: brightness(120%);
}

.STATUS {
    width: 30px;
    text-align: right;
    padding: 0;
    border: 0px solid black;
}

table {
    width: 100%;
    text-align: center;
}

.LABEL {
    background: #FFFFFF;
    font-family: Courier New;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.LABEL[mapped=false] {
    color: rgba(149, 149, 149, 0.610);
    font-weight: lighter;
}

.TITLE {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 6px;
    font-family: Courier New;
    text-align: center;
}

.col1 {
    font-weight: bold;
    text-align: right;
}

.col2 {
    text-align: left;
    font-weight: normal;
}

input[type=checkbox].LED {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].LED + label.LED {
    padding-left: 21px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].LED:checked + label.LED {
    background-position: 0 -16px;
}

label.LED {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_d812d378e2fbf8a8c23c16391a1986f6.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel {
    /*+border-radius: 6px;*/
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    vertical-align: top;
    padding: 1px 4px;
    border: 2px solid #000000;
    text-shadow: 0 0;
}

.panel td {
    vertical-align: middle !important;
}

#gtbl td {
    vertical-align: top;
}

.C-1 {
    line-height: 23.00px;
    font-family: "Comic Sans MS", cursive;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 16.0px;
    vertical-align: 0;
}

td .label {
    text-align: right;
    line-height: 20.00px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #000000;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 16.0px;
    vertical-align: 0;
}

button, input[type="submit"] {
    background: #3498DB;
    background-image: -webkit-linear-gradient(top, #3498DB, #2980B9);
    background-image: -moz-linear-gradient(top, #3498DB, #2980B9);
    background-image: -ms-linear-gradient(top, #3498DB, #2980B9);
    background-image: -o-linear-gradient(top, #3498DB, #2980B9);
    background-image: linear-gradient(to bottom, #3498DB, #2980B9);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 6px;
    font-family: Arial;
    color: #FFFFFF;
    font-size: 15px;
    padding: 3px;
    border: solid #1F628D 0px;
    text-decoration: none;
}

button:active, input[type="submit"]:active {
    filter: brightness(120%);
}

.btn:hover {
    background: #3CB0FD;
    background-image: -webkit-linear-gradient(top, #3CB0FD, #3498DB);
    background-image: -moz-linear-gradient(top, #3CB0FD, #3498DB);
    background-image: -ms-linear-gradient(top, #3CB0FD, #3498DB);
    background-image: -o-linear-gradient(top, #3CB0FD, #3498DB);
    background-image: linear-gradient(to bottom, #3CB0FD, #3498DB);
    text-decoration: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #FEFEFE;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #AAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
